<!DOCTYPE html>
<html ng-app="plunker">
    <head>
        <meta charset="utf-8" />
        <title>AngularJS Slider Plunker</title>
        <link rel="stylesheet" href="../dist/angularjs-slider.css" />
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../angularjs-slider.js"></script>
    </head>
    <body ng-controller="MainCtrl">
        <div style="margin-left: 40px; margin-right: 50px; padding: 30px;">
            <pre>{{ priceSlider | json }}</pre>

            <input type="text" ng-model="priceSlider.min"/><br/>
            <input type="text" ng-model="priceSlider.max"/><br/>

            <br/>

            <div rz-slider
                floor="priceSlider.floor"
                ceil="priceSlider.ceil"
                model="priceSlider.min"
                high="priceSlider.max"
                step="1"></div>
            <br> <br> <br>

            <pre>{{ priceSlider2 | json }}</pre>
            <br> <br>
            <div rz-slider
                floor="0"
                ceil="450"
                model="priceSlider2"
                translate="translate"></div>

            <pre>{{ priceSlider2 | json }}</pre>
            <br> <br>
            <div rz-slider
                model="priceSlider3"
                floor="50"
                ceil="450"></div>

            <br><br><br>

            <pre>{{ alphabetTranslate(letter) }}</pre>

            <br><br>

            <div rz-slider
                floor="0"
                ceil="letterMax"
                model="letter"
                translate="alphabetTranslate"></div>
        </div>
    </body>

    <script>
        var app = angular.module('plunker', ['angularjsSlider']);

        app.controller('MainCtrl', function($scope)
        {
            $scope.priceSlider = {
                min: 4,
                max: 481,
                ceil: 500,
                floor: 0
            };

            $scope.priceSlider2 = 150;
            $scope.priceSlider3 = 250;

            $scope.translate = function(value)
            {
                return '$' + value;
            };

            var alphabetArray = 'abcdefghijklmnopqrstuvwxyz'.split('');
            $scope.letter = 5;
            $scope.letterMax = alphabetArray.length - 1;
            $scope.alphabetTranslate = function(value)
            {
                return alphabetArray[value].toUpperCase();
            };
        });
    </script>
</html>
